@import "../app-variables.scss";

.channels-container {
  padding: $pd-sm $pd-md;
  border: 2px solid $accent-blue;
  border-radius: $radius-md;
  margin-top: $ma-sm;
  min-width: 60vw;
  max-width: 60vw;
  min-height: 40vh;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  app-channel {
    width: 48%;
  }

  .nav-buttons {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .highlight-text {
      color: $accent-orange;
    }

    .request-btn {
      border: 1px solid black;
    }
  }
}

button {
  border: 1px solid $accent-orange;
  cursor: pointer;
  background: white;
}

.channel-nav {
  display: flex;

  button {
    margin-right: $ma-sm;
  }

  .search-input {
    position: relative;

    img,
    .spinner {
      position: absolute;
      right: 2px;
      top: 9px;
    }

    input {
      border: none;
      border-bottom: 1px solid $accent-orange;
      background: none;
      height: 100%;
      padding: 0 2px;
    }
  }
}
