<div class="channel-nav">
  <button class="btn">Available channels</button>
  <button class="btn">Your channels</button>

  <div class="search-input">
    <input
      type="text"
      #channelSearchInput
      placeholder="Search channels"
      [(ngModel)]="channelsService.nameFilter"
    />
    <img src="../../assets//icons/search.svg" alt="magnifying glass" />
  </div>
</div>
<div class="channels-container">
  <ng-container *ngIf="channelsService.channelsObs$ | async as channels">
    <app-channel
      *ngFor="let channel of channels"
      [channel]="channel"
    ></app-channel>
    <div class="nav-buttons">
      <button class="btn" (click)="channelsService.switchPage('prev')">
        Previous
      </button>
      <button class="btn" (click)="channelsService.switchPage('next')">
        Next
      </button>
    </div>
  </ng-container>
</div>
