<div class="channel-nav">
  <button class="btn" (click)="handleUserChannelFilter('available')">
    Available channels
  </button>
  <button class="btn" (click)="handleUserChannelFilter('user')">
    Your channels
  </button>

  <div class="search-input">
    <input
      type="text"
      #channelSearchInput
      placeholder="Search channels"
      [(ngModel)]="channelsService.nameFilter"
    />
    <ng-container
      *ngIf="
        !(spinnersService.searchSpinner$ | async) as searchSpinner;
        else loader
      "
    >
      <img src="../../assets/icons/search.svg" alt="magnifying glass" />
    </ng-container>

    <ng-template #loader>
      <ring-loader color="#4D6A6D" size="24" class="spinner"></ring-loader>
    </ng-template>
  </div>
</div>

<div class="channels-container">
  <ng-container
    *ngIf="{
      channels$: channelsService.channelsObs$ | async,
      fetchingSpinner$: spinnersService.fetchChannelsSpinner$ | async
    } as observables"
  >
    <ng-container
      *ngIf="!observables.fetchingSpinner$ as isFetching; else channelLoader"
    >
      <app-channel
        *ngFor="let channel of observables.channels$"
        [channel]="channel"
      ></app-channel>
      <div class="nav-buttons">
        <button
          class="btn"
          (click)="channelsService.switchPage('prev')"
          [disabled]="!channelsService.isPrevPage"
        >
          Previous
        </button>
        <button class="btn request-btn">
          We don't have it? <span class="highlight-text">Request it</span>
        </button>
        <button
          class="btn"
          (click)="channelsService.switchPage('next')"
          [disabled]="!channelsService.isNextPage"
        >
          Next
        </button>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #channelLoader>
    <ring-loader color="#4D6A6D"></ring-loader>
  </ng-template>
</div>
