// COLORS
$primary-white: #f4f4f9;
$primary-black: #1d1e18;
$accent-orange: #ed6a5a;
$accent-blue: #b8dbd9;
$accent-green: #4d6a6d;

// FONT-SIZE
$h1-fs: 3rem;
$h2-fs: 2.5rem;
$h3-fs: 2rem;
$h4-fs: 1.75rem;
$h5-fs: 1.5rem;
$h6-fs: 1.25rem;

// PADDING
$pd-xs: 0.32rem;
$pd-sm: 0.64rem;
$pd-md: 1.5rem;
$pd-lg: 3rem;

// MARGINS
$ma-xs: 0.32rem;
$ma-sm: 0.64rem;
$ma-md: 1.5rem;
$ma-lg: 3rem;

// BORDER-RADIUS
$radius-md: 5px;
// KEY-FRAMES
@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if ($i < $max) {
      $animations: #{$animations + ", "};
    }
  }

  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

$circle-radius: 10;

@function get-dash-value($radius, $percentage) {
  // Using $radius, calculate circumference.
  $circumference: 2 * 3.1415927 * $radius;

  // Convert percentage to decimal.
  // i.e. 50% = 0.5.
  $percentage-as-decimal: $percentage / 100%;

  // Return unit value.
  @return $circumference * $percentage-as-decimal;
}

@keyframes circle--animation {
  0%,
  25% {
    stroke-dashoffset: get-dash-value($circle-radius, 97%);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: get-dash-value($circle-radius, 25%);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: get-dash-value($circle-radius, 97%);
    transform: rotate(360deg);
  }
}

@keyframes svg-circle--animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
