<div class="channel">
  <img [src]="channel.img" alt="channel logo" />
  <div>
    <h6>{{ channel.name }}</h6>
  </div>

  <ng-container
    *ngIf="
      spinnersService.individualChannelSpinnerSub$ | async as spinnerChannelId
    "
  >
    <ng-container *ngIf="spinnerChannelId === channel._id; else channelAction">
      <ring-loader color="#4D6A6D" size="24"></ring-loader>
    </ng-container>
  </ng-container>

  <ng-template #channelAction>
    <img
      src="../../assets/icons/plus-square.svg"
      alt="plus icon "
      (click)="handleAddChannel()"
      *ngIf="!channel.isUserSub"
    />
    <img
      src="../../assets/icons/x-square.svg"
      alt="x icon with box around it"
      (click)="handleRemoveChannel()"
      *ngIf="channel.isUserSub"
    />
  </ng-template>
</div>
