<div class="channel">
  <img [src]="channel.img" alt="channel logo" />
  <div>
    <h6>{{ channel.name }}</h6>
  </div>

  <img
    src="../../assets/icons/plus-square.svg"
    alt="plus icon "
    (click)="handleAddChannel()"
    *ngIf="iconType === 'add'"
  />

  <img
    src="../../assets/icons/x-square.svg"
    alt="x icon with box around it"
    (click)="handleRemoveChannel()"
    *ngIf="iconType === 'remove'"
  />

  <ring-loader
    color="black"
    size="24"
    *ngIf="iconType === 'processing'"
  ></ring-loader>
</div>
