@import "../app-variables.scss";

.home-container {
  display: grid;
  grid-template-areas: "welcome welcome channels channels channels channels";
  column-gap: $ma-sm;
  h1 {
    font-size: $h1-fs;
    font-weight: 300;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .user-welcome {
    grid-area: "welcome";
  }

  app-channels {
    grid-area: "channels";
  }
}
